<div class="header">
  <div header-text>Personal diary</div>
</div>

<div class="add-note">
  <textarea #newNote placeholder="Text write here"></textarea> 
  <div class="buttons">
    <input type="file" #imageInput style="display: none" (change)="onImageSelected($event)">
    <button class="add-image" (click)="imageInput.click()">Add image</button>
    <button class="save" (click)="addNotes(newNote.value, selectedImage)">Save</button>
  </div>
</div>

<div class="notes" *ngFor="let note of notes">
  <div class="content">
    <div class="text-notes" *ngIf="note.text">
      <p>{{note.text}}</p>
    </div>
    <div class="image-div" *ngIf="note.image">
      <img class="image" [src]="note.image" alt="Note image">
    </div>
  </div>
  
  <div class="additional-buttons">
    <div class="date">{{note.date.seconds*1000 | date}}</div>
    <button class="edit">Edit</button>
    <button class="delete" (click)="deleteNotes(note.id)">Delete</button>
  </div>
  

</div>
